@mixin flashyButton {
  margin: 0 5px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
}

@mixin flashyButtonHover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}