.Home {
  height: 100%;
}
.SaveWrapper {
  text-align: right;
}

.SaveButton {
  background-color: #4db6ac;
  border-color: #4db6ac;
  &:hover {
    background-color: #26a69a;
    border-color: #26a69a;
  }
}